<html>
    <head>
        <title>Mail Tracker</title>
        <link rel="stylesheet" type="text/css" href="../static/global.css">
        <script src="../static/script.js"></script>
    </head>

    <div id="mySidenav" class="sidenav">
        <a href="#">To be sent</a>
        <a href="#">Under transport</a>
        <a href="#">Delivered</a>
    </div>

    <body>
        <h1>Banner</h1>
        <p>Content goes here</p>
    </body>
    
    <div>
        <select name=”Parcels” id="packageList" multiple>
            <!-- <option value="">PC</option>
            <option value="">Screen</option>
            <option value="">Shoes</option>
            <option value="">Zalando</option> -->
        </select>
    </div>
    <div>
        <select name=”State id="packageState" multiple>
            <!-- <option value="">PC</option>
            <option value="">Screen</option>
            <option value="">Shoes</option>
            <option value="">Zalando</option> -->
        </select>
    </div>

    <div>
        <table>
            <thead>
              <tr>
                <th>Header</th>
                <th>Name</th>
                <th>Eta</th>
                <th>Current location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Line 1</td>
                <td>Zalando</td>
                <td>10.02.2023</td>
                <td>Under transport</td>
                <td class="button-cell"><button>Button 1</button></td>
              </tr>
              <tr>
                <td>Line 2</td>
                <td>DHL</td>
                <td>2.2.2023</td>
                <td>Customs</td>
                <td class="button-cell"><button>Button 2</button></td>
              </tr>
            </tbody>
          </table>
    </div>


</html>