<head>
  <title>Mail Tracker</title>
  <link rel="stylesheet" type="text/css" href="../static/global.css">
  <script src="../static/script.js"></script>
</head>

<body>
  <table id="new">
    <tr>
      <th>Tracking number</th>
      <th>Carrier</th>
      <th></th>
    </tr>
    <tr>
      <td><input type="text" id="trackingNumber"></td>
      <td>
        <select name="carrier" id="carrierDropDown"  >
          <!-- This should come from backend -->
          <option value="dh">DHL</option>
          <option value="Posten">Posten</option>
          <option value="PostNord">PostNord</option>
        </select>
      
      </td>
      <td>
        <button class="button-cell" id="add">Add</button>
      </td>
    </tr>
  </table>

  <table id="packagesTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Tracking number</th>
        <th>Current location</th>
        <th>Provider</th>
        <th>Eta</th>
        <th>Confirm</th>
      </tr>
    </thead>
    <tbody id="packagesTableBody"></tbody>
  </table>
</body>
<script>
  // Fetch data from the API
  fetch('http://127.0.0.1:1234/api/parcels/all')
    .then(response => response.json())
    
    .then(data => {
      console.log('Packages data:', data);
      const tableBody = document.getElementById('packagesTableBody');

      // Iterate over the packages data and generate table rows
      for (const [name, packageData] of Object.entries(data)) {
        const row = document.createElement('tr');

        const nameCell = document.createElement('td');
        nameCell.textContent = name;
        row.appendChild(nameCell);

        const trackingNumberCell = document.createElement('td');
        trackingNumberCell.textContent = packageData.tracking_number;
        row.appendChild(trackingNumberCell);

        const carrierCell = document.createElement('td');
        carrierCell.textContent = packageData.carrier;
        row.appendChild(carrierCell);

        const etaCell = document.createElement('td');
        etaCell.textContent = packageData.ETA;
        row.appendChild(etaCell);

        const shipmentStateCell = document.createElement('td');
        shipmentStateCell.textContent = packageData.shipment_state;
        row.appendChild(shipmentStateCell);

        const actionCell = document.createElement('td');
        const button = document.createElement('button');
        button.textContent = 'Confirm';
        actionCell.classList.add('button-cell');
        actionCell.appendChild(button);
        row.appendChild(actionCell);

        tableBody.appendChild(row);
      }
    })
    .catch(error => {
      console.log('Error fetching packages:', error);
    });
</script>
